* {
    background-color: darkkhaki;
    font-family: fantasy;
}

h1{
    font-size: 40px;
    color: cornflowerblue;
}

h3 {
    font-size: 25px;
    color:red ;
}

img {
    height: 400px;
    width: auto;
    
}